 	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	 a {text-decoration:none;}
	.txt-rt{text-align:right;}
	.txt-lt{text-align:left;}
	.txt-center{text-align:center;}
	.float-rt{float:right;}
	.float-lt{float:left;}
	.clear{clear:both;}
	.pos-relative{position:relative;}
	.pos-absolute{position:absolute;}
	.vertical-base{vertical-align:baseline;}
	.vertical-top{vertical-align:top;}
	.underline{	padding-bottom:3px;	border-bottom: 1px solid #eee;}
	nav.vertical ul li{display:block;}
	nav.horizontal ul li{display: inline-block;}
	img{max-width:100%;}
 


 body{
	font-family: 'Roboto', sans-serif;
	text-align:center;
	background:url("../images/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	} 
body a{
 transition:all .5s linear;
 text-decoration:none;
}
h1{
 font-size:45px;
 font-weight:500;
 letter-spacing:4px;
 margin:60px 0;
 color:#fff;
}
.container{
 width:50%;
 margin:0 auto;
 padding:40px;
 background-color:rgba(9, 8, 9, 0.3);
 border:2px ridge rgba(235,235,235,0.15);
 border-radius:5px;
 box-shadow:0 -5px 10px 1px rgba(16,16,16,0.55);
 border-bottom:none;
}
#login {
 width:45%;
 float:left;
 text-align:left;
 padding-right:35px;
}
#register{
 padding-left:40px;
 border-left:1px solid #ddd;
 width:42%;
 float:left;
 text-align:left;
}
::-webkit-input-placeholder {
    color: #ccc;
	position:relative;
	left:2px;
}

:-moz-placeholder {
    color: #ccc;
	position:relative;
	left:2px;
}

::-moz-placeholder {
    color: #ccc;
	position:relative;
	left:2px;
}

:-ms-input-placeholder {
    color: #ccc;
	position:relative;
	left:2px;
}
h2{
 font-size:35px;
 text-align:left;
 color:#fff;
 font-weight:100;
 margin-bottom:20px;
}
ul.tick{
 float:left;
 list-style:none;
 display:inline-block;
 width:100%;
 margin-bottom:20px;
}
ul.tick li input[type="checkbox"] {
    display: none;
}
ul.tick li input[type="checkbox"]+label{
position:relative;
padding-left:30px;
border:#f0f8ff;
display:inline-block;
color:#eee;
font-size:13px;
}
ul.tick li input[type="checkbox"]+label span{
width:17px;
height:17px;
display:inline-block;
border:1px solid #eee;
position:absolute;
left:1px;
}
ul.tick li input[type="checkbox"]:checked+label span:first-child:before{
content:"";
background:url("../images/tick.png") no-repeat;
position:absolute;
left:3px;
font-size:10px;
width:10px;
height:10px;
top:4px;
}
input[type="text"],input[type="password"],input[type="email"],input[type="phone"]{
width:90%;
margin-bottom:20px;
padding:10px;	
float:left;
border:none;
background-color:transparent;
border-bottom:1px solid rgba(238, 238, 238, 0.41);
color:#ccc;
}
.send-btn{
margin-bottom:10px;
}
.send-btn input[type="submit"]{
width:60%;
padding:10px 0;
color:#ccc;
border:1px solid rgba(238, 238, 238, 0.41);
font-size:16px;
background:transparent;
transition:all .5s;
cursor:pointer;
font-weight:100;
border-width:thin;
}
.send-btn input[type="submit"]:hover{
background-color:#000;
border:1px solid #fff;
color:#fff;
transition:all .5s;
text-decoration: none;
}
a{
color:#ccc;
}
a:hover{
color:#fff;
}
.social-icons{
text-align:center;
margin-top:20px;
}
.social-icons ul li{
 float:left;
 width:32%;
}
.social-icons ul li a{
display:block;
}
.social-icons ul li a span{
color:#fff;
font-size:15px;
vertical-align:middle;
}
.social-icons ul li span.icons{
width: 30px;
height: 30px;
display: inline-block;
}
.social-icons ul li.qq span.icons{
background:url("../images/QQ.png") no-repeat;
background-size:100% 100%;
}
.social-icons ul li.weixin span.icons{
background:url("../images/weixin.png") no-repeat;
background-size:100% 100%;
}
.social-icons ul li.weibo span.icons{
background:url("../images/weibo.png") no-repeat;
background-size:100% 100%;
}
.social-icons ul li a:hover span.icons{
transform:rotatey(360deg);
transition:all .5s linear;
}

.footer{
text-align:center;
margin:100px 20px 20px;
}
.footer p{
color:#ccc;
}




